name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write      # 如需部署到 GitHub Pages
  id-token: write   # 如需部署到 GitHub Pages

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Jekyll site
      uses: actions/jekyll-build-pages@v1
      with:
        source: .
        destination: ./_site
        future: true
    
    - name: Upload built site
      uses: actions/upload-artifact@v4
      with:
        name: site
        path: ./_site
